button {
  padding: 20px;
}

body {
  background-color: #f1f1f1;
  position: relative;
}

.bg-change::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  animation: flow linear 1s;
}

@keyframes flow {
  from {
    transform: translate(-100%, -100%);
  }
  to {
    transform: translate(100%, 100%);
  }
}