<header class="right_side">
    <link rel="stylesheet" href="/css/header2.css">
    <div id="header">
    <div id="logo"><a href="./"><img src="/images/header/right_side/logo.png" sizes="(min-width:360px) 50vw, 100vw" width="180"></a></div>
    
    <div id="button-menu"><img src="/images/header/right_side/menu_open.jpg" width="50"></div>
    <!--
    <nav id="menu">

    <div id="menu01" class="menu"><img src="img/common/sideA/hart01.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart01.png 200w, img/common/sideA/hart01@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav01.png" sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/nav01.png 200w, img/common/sideA/nav01@2x.png 400w"></div>

    <div id="menu02" class="menu"><img src="img/common/sideA/hart02.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart02.png 200w, img/common/sideA/hart02@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav02.png" sizes="(min-width:180px) 50vw, 100vw" width="90"
    srcset="img/common/sideA/nav02.png 200w, img/common/sideA/nav02@2x.png 400w"></div>
                
    <div id="menu03" class="menu"><img src="img/common/sideA/hart03.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart03.png 200w, img/common/sideA/hart03@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav03.png" sizes="(min-width:132px) 50vw, 100vw" width="66"
    srcset="img/common/sideA/nav03.png 200w, img/common/sideA/nav03@2x.png 400w"></div>
    
    <div id="menu04" class="menu"><img src="img/common/sideA/hart04.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart04.png 200w, img/common/sideA/hart04@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav04.png" sizes="(min-width:236px) 50vw, 100vw" width="118"
    srcset="img/common/sideA/nav04.png 200w, img/common/sideA/nav04@2x.png 400w"></div>

    <div id="menu05" class="menu"><img src="img/common/sideA/hart05.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart05.png 200w, img/common/sideA/hart05@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav05.png" sizes="(min-width:120px) 50vw, 100vw" width="60"
    srcset="img/common/sideA/nav05.png 200w, img/common/sideA/nav05@2x.png 400w"></div>
    
    <div id="menu06" class="menu"><img src="img/common/sideA/hart06.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart06.png 200w, img/common/sideA/hart06@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav06.png" sizes="(min-width:180px) 50vw, 100vw" width="90"
    srcset="img/common/sideA/nav06.png 200w, img/common/sideA/nav06@2x.png 400w"></div>
                
    <div id="menu07" class="menu"><img src="img/common/sideA/hart07.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart07.png 200w, img/common/sideA/hart07@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav07.png" sizes="(min-width:168px) 50vw, 100vw" width="84"
    srcset="img/common/sideA/nav07.png 200w, img/common/sideA/nav07@2x.png 400w"></div>
    
    <div id="menu08" class="menu"><img src="img/common/sideA/hart08.png"
    sizes="(min-width:80px) 50vw, 100vw" width="40"
    srcset="img/common/sideA/hart08.png 200w, img/common/sideA/hart08@2x.png 400w" class="hart"> <img
    src="img/common/sideA/nav08.png" sizes="(min-width:100px) 50vw, 100vw" width="50"
    srcset="img/common/sideA/nav08.png 200w, img/common/sideA/nav08@2x.png 400w"></div>
    
    </nav>
    
    <div id="changer-wrap">
        <div class="button-wrap">
            <div class="button">
                <div class="ripple"></div>
            </div>
        </div>
        <div class="title"><img src="img/common/sideA/changer.png" sizes="(min-width:104px) 50vw, 100vw"
        width="52" srcset="img/common/sideA/changer.png 200w, img/common/sideA/changer@2x.png 400w"></div>
    </div>
    </div>
</header>