<header>
  <link rel="stylesheet" href="/css/header.css">
  <meta charset="UTF-8">
  <div class="container">
    <nav>
      <label class="logo">Utyujin's House</label>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Tutorial</a></li>
        <li><a href="#">Propaganda</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <label>
        <input type="checkbox" id="switch">
        <span class="check"></span>
      </label>
    </nav>
    <div>
      <a href="/" class="logo_link">
        <img id="logo" src="/images/header/0/logo.png" class="center-img">
      </a>
    </div>
    <div class="navbar">
      <img src="/images/header/0/navbar.jpg" alt="Navbar"><a href="/">Home</a>
      <img src="/images/header/0/navbar.jpg" alt="Navbar"><a href="/pages/products/index.html">Products</a>
      <img src="/images/header/0/navbar.jpg" alt="Navbar"><a href="/pages/tutorial/index.html">Tutorial</a>
      <img src="/images/header/0/navbar.jpg" alt="Navbar"><a href="/pages/propaganda/index.html">Propaganda</a>
      <img src="/images/header/0/navbar.jpg" alt="Navbar"><a href="/pages/about/index.html">About</a>
    </div>
  </div>
  <script src="/js/header.js"></script>
</header>
